{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Leave a Review" %}{% endblock %}

{% block content %}
<div class="page-bg">
  <div class="form-block center mx-auto px-2">
    <div class="row form-header">
      <div class="col text-center mt-3">
        <h2 class="logo-font"><i class="fa-solid fa-pencil"></i> Write A Review <i class="fa-solid fa-pencil"></i></h2>
      </div>
    </div>

    <h3 class="text-center my-4">
      {% if form.instance.pk %}
        {% trans "Edit Your Review" %}
      {% else %}
        {% trans "Leave a Review" %}
      {% endif %}
    </h2>

    <form method="post" action="" class="mx-auto text-center">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="registration_button mb-2">Submit Review</button>
    </form>
  </div>
</div>
{% endblock %}