{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="fixed-page-bg"></div>
<div class="form-block mx-auto my-4">
    <div class="row form-header">
        <div class="col text-center mt-3">
            <h2 class="logo-font"><i class="fa-solid fa-drumstick-bite"></i> Wingin It: The Official Menu! <i class="fa-solid fa-drumstick-bite"></i></h2>
            <hr class="w-50 mx-auto mb-1">
        </div>
    </div>

    <!-- Search Bar & Filter -->
    <div class="row justify-content-center align-items-center my-4">
        <!-- Search Bar (Left Column) -->
        <div class="col-md-3">
            <form method="GET" action="{% url 'menu' %}">
                <div class="input-group">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                        placeholder="Search">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit" aria-label="Search">
                            <span class="icon">
                                <i class="fas fa-search" alt="Search"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Middle Placeholder (Center Column) -->
        <div class="col-md-3 text-center d-none d-md-block">
            <!-- Placeholder for spacing or future use -->
        </div>

        <!-- Dietary Restriction Filter (Right Column) -->
         <div class="col-md-3 text-md-left mb-2 mb-md-0">
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle w-100" type="button" id="filterDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="filterDropdown">
                    <a class="dropdown-item" href="{% url 'menu' %}">All Menu Items</a>
                    <a class="dropdown-item" href="{% url 'menu' %}?dietary_restriction=gluten_free">Gluten-Free</a>
                    <a class="dropdown-item" href="{% url 'menu' %}?dietary_restriction=vegan">Vegan</a>
                    <a class="dropdown-item" href="{% url 'menu' %}?dietary_restriction=vegetarian">Vegetarian</a>
                </div>
            </div>
        </div>
    </div>


    {% for category, menu_items in items_by_category %}
    <section class="category-section">
        <div class="row mt-1">
            <div class="col text-center">
                <h3 class="text-uppercase">
                    {{ category.friendly_name|default:category.name }}
                </h3>
                <hr class="w-25 mx-auto mb-4">
            </div>
        </div>

        <div class="row">
            {% for menu_item in menu_items %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto">
                    <div class="card h-100 border-0">
                        {% if menu_item.image %}
                            <a href="{% url 'menu_item_detail' menu_item.id %}">
                                <div class="image-container">
                                    <img class="menu-image" src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}">
                                </div>
                            </a>
                        {% else %}
                            <a href="{% url 'menu_item_detail' menu_item.id %}">
                                <div class="image-container">
                                    <img class="menu-image" src="{{ MEDIA_URL }}noimage.webp" alt="{{ menu_item.name }}">
                                </div>
                            </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ menu_item.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">${{ menu_item.price }}</p>

                                    {% if request.user.is_superuser %}
                                        <small>
                                            <a href="{% url 'edit_menu_item' menu_item.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_menu_item' menu_item.id %}">Delete</a>
                                        </small>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5"><hr></div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5"><hr></div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5"><hr></div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5"><hr></div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endfor %}
</div>
{% endblock %}