{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="fixed-page-bg"></div>
<div class="form-block mx-auto my-4">
    <div class="row form-header">
        <div class="col text-center mt-3">
            <h2 class="logo-font">{{ menu_item.name }}</h2>
            <hr class="w-50 mx-auto mb-1">
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4 order-md-1 mb-4 mb-md-0 menu-detail-image-container">
            <!-- Image -->
            {% if menu_item.image %}
                <a href="{% url 'menu_item_detail' menu_item.id %}">
                    <img class="card-img-top img-fluid" src="{{ menu_item.image.url }}" alt="{{ menu_item.name }}">
                </a>
            {% else %}
                <a href="{% url 'menu_item_detail' menu_item.id %}">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}no_image.jpg" alt="{{ menu_item.name }}">
                </a>
            {% endif %}
            </div>

            <!-- Details -->
            <div class="col-md-8 order-md-2">
                <p class="text-muted">{{ menu_item.description }}</p>
                <p><strong>Price:</strong> ${{ menu_item.price }}</p>
                {% if menu_item.dietary_restriction.all %}
                    <p><strong>Dietary Info:</strong>
                        {% for restriction in menu_item.dietary_restriction.all %}
                            {{ restriction.friendly_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}

                <form method="post" action="{% url 'add_to_cart' menu_item.id %}">
                    {% csrf_token %}
                    <div class="form-row">

                        <!-- Sauce Selection -->
                        {% if sauces %}
                        <div class="form-group">
                            <label for="sauce">Choose a Sauce:</label>
                            <select name="sauce" id="sauce" class="form-control">
                                {% for sauce in sauces %}
                                    <option value="{{ sauce.id }}">{{ sauce.friendly_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}

                        <!-- Add-ons -->
                        {% if addons %}
                        <div class="form-group mt-3">
                            <label>Add-ons:</label><br>
                            {% for addon in addons %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="addons" value="{{ addon.id }}" id="addon{{ addon.id }}">
                                    <label class="form-check-label" for="addon{{ addon.id }}">
                                        {{ addon.name }} (+${{ addon.price }})
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <!-- Quanitity Selection -->
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ menu_item.id }}" id="decrement-qty_{{ menu_item.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ menu_item.id }}" id="id_qty_{{ menu_item.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ menu_item.id }}" id="increment-qty_{{ menu_item.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'menu' %}" class="btn rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'menu/includes/quantity_input_script.html' %}
{% endblock%}