{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="page-bg">
  <div class="form-block text-center mx-auto">
    <div class="row form-header">
      <div class="col">
        <h1 class="text-center mb-4 mt-4">{% trans "CONFIRM E-MAIL ADDRESS" %}</h1>
      </div>
    </div>

    {% if confirmation %}

    {% user_display confirmation.email_address.user as user_display %}

    <p class="my-4">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="text-center mx-auto">
    {% csrf_token %}
        <button class="registration_button my-4" type="submit">{% trans 'Confirm' %}</button>
    </form>

    {% else %}

    {% url 'account_email' as email_url %}

    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}

{% endblock %}
