{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="page-bg">
  <div class="form-block center mx-auto">
    <div class="row form-header">
      <div class="col">
        <h1 class="text-center mb-4 mt-4">{% trans "ENTER THE FLAVOR ZONE" %}</h1>
      </div>
    </div>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p class="text-center mt-4">{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login text-center mx-auto" method="POST" action="{% url 'account_login' %}" style="max-width: 400px;">
      {% csrf_token %}

      <div class="mb-4">
        {{ form.login.label_tag }}
        {{ form.login }}
        {% if form.login.errors %}
          <div class="text-danger">{{ form.login.errors }}</div>
        {% endif %}
      </div>

      <div class="mb-4">
        {{ form.password.label_tag }}
        {{ form.password }}
        {% if form.password.errors %}
          <div class="text-danger">{{ form.password.errors }}</div>
        {% endif %}

        <div class="mt-1">
          <a class="text-sm text-blue-600 hover:underline" href="{% url 'account_reset_password' %}">
            {% trans "Forgot Password?" %}
          </a>
        </div>
      </div>

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <button class="primaryAction registration_button mt-4 mb-4" type="submit">
        {% trans "Sign In" %}
      </button>
    </form>

  </div>
</div>
{% endblock %}
