{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="page-bg">
    <div class="form-block text-center mx-auto">
        <div class="row form-header">
        <div class="col">
            <h1 class="text-center my-4">{% trans "Set Password" %}</h1>
        </div>
        </div>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primaryAction registration_button mt-4 mb-4" type="submit">
                {% trans "Set Password" %}
            </button>
        </form>
    </div>
</div>
{% endblock %}
