{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="page-bg">
    <div class="form-block center mx-auto">
        <div class="row form-header">
        <div class="col">
            <h1 class="text-center mb-4 mt-4">{% trans "CHANGE PASSWORD" %}</h1>
        </div>
        </div>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change mx-auto text-center mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="primaryAction registration_button mt-4 mb-4" type="submit" name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</div>
{% endblock %}
