{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="page-bg">
    <div class="form-block text-center mx-auto">
        <div class="row form-header">
        <div class="col">
            <h1 class="text-center my-4">{% trans "PASSWORD RESET" %}</h1>
        </div>
        </div>
       
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p class="my-4 px-4">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
</div>
{% endblock %}
