{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="registration_block center mx-auto my-4">
  <h1>{% trans "SPICE UP YOUR LIFE" %}</h1>
  <h2>{% trans "SIGN UP HERE " %}<i class="fa-solid fa-user-plus"></i></h2>
  <br>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button class="registration_button" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>

  <div class="mt-4">
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </div>

</div>



{% endblock %}
