
/* General Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: calc(100vh - 188px);
    color: #555;
    font-family: 'Lato';
}

main {
    margin-top: 188px;
    margin-bottom: 10px;
    overflow: hidden;
}

/* Header Styles */
header {
    background-color: #F59E13;
}

/* Navbar styles */
#navbar-toggler {
top: 10px; 
right: 15px; 
z-index: 1000;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.logo-img-square {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }

.shop-now-button {
    background: black;
    color: white;
    border: 2px solid white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* Index.html Styling */
/* Index.Html Styles */
#hero {
    background: url('/media/hero.jpg') no-repeat center center / cover;
    width: 100%;
    position: relative;
    height: 450px;
}

#hero-cover-text {
    background: #00000091;
    color: white;
    font-size: 125%; 
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 40px 10px 25px;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

#hero-cover-text h2 {
    font-size: 3em;
}

/* Menu Styling */
.menu-detail-image-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.menu-detail-image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/*Cart Page Styling */
.update-link,
.remove-item {
    cursor: pointer;
}

/* Error Page Styling */
.lost-card {
    background: url('/media/404.jpg') no-repeat center center / cover;
    width: 100%;
    position: relative;
    height: 450px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .header-container {
        padding-top: 164px;
    }

    header {
        background-color: #F59E13;
        height: 188px;
        z-index: 99;
        position: fixed;
    }

    .logo-img-square {
        width: 164px;
        height: 164px;
        object-fit: cover;
      }
    
}